<main>
    <h2>Num Monumento à Aspirina</h2>
    <i>João Cabral de Melo Neto</i>
    <p>
        <span> Claramente: o mais prático dos sóis,</span>
        <span> o sol de um comprimido de aspirina:</span>
        <span> de emprego fácil, portátil e barato,</span>
        <span> compacto de sol na lápide sucinta.</span>
        <span> Principalmente porque, sol artificial,</span>
        <span> que nada limita a funcionar de dia,</span>
        <span> que a noite não expulsa, cada noite,</span>
        <span> sol imune às leis da meteorologia,</span>
        <span> a toda a hora em que se necessita dele</span>
        <span> levanta e vem (sempre num claro dia):</span>
        <span> acende, para secar a aniagem da alma,</span>
        <span> quará-la, em linhos de um meio-dia.</span>
    </p><p>
        <span> Convergem: a aparência e os efeitos</span>
        <span> da lente do comprimido de aspirina:</span>
        <span> o acabamento esmerado desse cristal,</span>
        <span> polido a esmeril e repolido a lima,</span>
        <span> prefigura o clima onde ele faz viver</span>
        <span> e o cartesiano de tudo nesse clima.</span>
        <span> De outro lado, porque lente interna,</span>
        <span> de uso interno, por detrás da retina,</span>
        <span> não serve exclusivamente para o olho</span>
        <span> a lente, ou o comprimido de aspirina:</span>
        <span> ela reenfoca, para o corpo inteiro,</span>
        <span> o borroso de ao redor, e o reafina.</span>
    </p>
</main>