<main>
    <h2>Errantry</h2>
    <i class="sign-JRRT">by J. R. R. Tolkien</i>  

    <div id="poem-errantry">
        <p>
            <span>There was a merry passenger,</span>
            <span>a messenger, a mariner;</span>
            <span>he built a gilded gondola</span>
            <span>to wander in, and had in her</span>
            <span>a load of yellow oranges</span>
            <span>and porridge for his provender;</span>
            <span>he perfumed them with marjoram</span>
            <span>and cardamom and lavender.</span>
        </p>
        <p>
            <span>He called the winds of argosies</span>
            <span>with cargoes in to carry him</span>
            <span>across the rivers seventeen</span>
            <span>that lay between to tarry him.</span>
            <span>He landed all in loneliness</span>
            <span>where stonily the pebbles on</span>
            <span>the running river Derrilyn</span>
            <span>goes merrily for ever on</span>
            <span>He journeyed then through meadow-lands</span>
            <span>to Shadow-land that dreary lay,</span>
            <span>and under hill and over hill</span>
            <span>went roving still a weary way.</span>
        </p>
        <p>
            <span>He sat and sang a melody,</span>
            <span>his errantry a-tarrying;</span>
            <span>he begged a pretty butterfly</span>
            <span>that fluttered by to marry him.</span>
            <span>She scorned him and she scoffed at him,</span>
            <span>she laughed at him unpitying;</span>
            <span>so long he studied wizardry</span>
            <span>and sigaldry and smithying.</span>
        </p>
        <p>
            <span>He wove a tissue airy-thin</span>
            <span>to snare her in; to follow her</span>
            <span>he made him beetle-leather wing</span>
            <span>and feather wing of swallow-hair.</span>
            <span>He caught her in bewilderment</span>
            <span>with filament of spider-thread;</span>
            <span>he made her soft pavilions</span>
            <span>of lilies, and a bridal bed</span>
            <span>of flowers and of thistle-down</span>
            <span>to nestle down and rest her in;</span>
            <span>and silken webs of filmy white</span>
            <span>and silver light he dressed her in.</span>
        </p>    
        <p>
            <span>He threaded gems in necklaces,</span>
            <span>but recklessly she squandered them</span>
            <span>and fell to bitter quarelling;</span>
            <span>then sorrowing he wandered on,</span>
            <span>and there he left her withering,</span>
            <span>as shivering he fled away;</span>
            <span>with windy weather following</span>
            <span>on swallow-wing he sped away.</span>
        </p>    
        <p>
            <span>He passed the archipelagoes</span>
            <span>where yellow grows the marigold,</span>
            <span>where countless silver fountains are,</span>
            <span>and mountains are of fairy gold.</span>
            <span>He took to war and foraying,</span>
            <span>a-harrying beyond the sea,</span>
            <span>and roaming over Belmarie</span>
            <span>and Thellamie and Fantasie.</span>
        </p>    
        <p>
            <span>He made a shield and morion</span>
            <span>of coral and of ivory,</span>
            <span>a sword he made of emerald,</span>
            <span>and terrible his rivalry</span>
            <span>with elven-knights of Aerie</span>
            <span>and Faerie, with paladins</span>
            <span>that golden-haired and shining-eyed</span>
            <span>came riding by and challenged him.</span>
        </p>    
        <p>
            <span>Of crystal was his habergeon,</span>
            <span>his scabbard of chalcedony;</span>
            <span>with silver tipped at plenilune</span>
            <span>his spear was hewn of ebony.</span>
            <span>His javelines were of malachite</span>
            <span>and stalactite – he brandished them,</span>
            <span>and went and fought the dragon-flies</span>
            <span>of Paradise, and vanquished them.</span>
            <span>He battled with the Dumbledors,</span>
            <span>the Hummerhorns, and Honeybees,</span>
            <span>and won the Golden Honeycomb;</span>
            <span>and running home on sunny seas</span>
            <span>in ship of leaves and gossamer</span>
            <span>with blossom for a canopy,</span>
            <span>he sat and sang, and furbished up</span>
            <span>and burnished up his panoply.</span>
        </p>
        <p>
            <span>He tarried for a little while</span>
            <span>in little isles that lonely lay,</span>
            <span>and found there nought but blowing grass;</span>
            <span>and so at least the only way</span>
            <span>he took, and turned, and coming home</span>
            <span>with honeycomb, to memory</span>
            <span>his message came, and errand too!</span>
            <span>In derring-do and glamoury</span>
            <span>he had forgot them, journeying</span>
            <span>and tourneying, a wanderer.</span>
            <span>So now he must depart again</span>
            <span>and start again his gondola,</span>
            <span>for ever still a messenger,</span>
            <span>a passenger, a tarrier,</span>
            <span>a-roving as a feather does,</span>
            <span>a weather-driven mariner.</span>
        </p>
    </div>
</main>