<main>
    <h2>The Voyage of Éarendel the Evening Star</h2>
    <b>Scipfæreld Éarendeles Ǽfensteorran</b>
    <i id="sign-JRRT">by J. R. R. Tolkien</i>

    <img id="image-earendels-ship"
    src="images/earendel.jpg"
    alt="Vingilótë, Éarendel's ship"
    style="max-width: 400px; padding: 20px; border: 20px solid #1e3218; margin-bottom: 20px;"/>

    <div id="poem-last-voyage">
        <p>
            <span>Éarendel arose where the shadow flows</span>
            <span>at Ocean's silent brim;</span>
            <span>through the mouth of night as a ray of light</span>
            <span>where the shores are sheer and dim;</span>
            <span>he launched his bark like a silver spark</span>
            <span>from the last and lonely sand;</span>
            <span>then on sunlit breath of day's fiery death</span>
            <span>he sailed from Westerland.</span>
        </p>
        <p>
            <span>He threaded his path o'er the aftermath</span>
            <span>of the splendour of the Sun,</span>
            <span>and wandered far past many a star</span>
            <span>in his gleaming galleon.</span>
            <span>On the gathering tide of darkness ride</span>
            <span>the argosies of the sky,</span>
            <span>and spangle the night with their sails of light</span>
            <span>as the streaming star goes by.</span>
        </p>
        <p>
            <span>Unheeding he dips past these twinkling ships,</span>
            <span>by his wayward spirit whirled</span>
            <span>on an endless quest through the darking West</span>
            <span>o'er the margin of the world;</span>
            <span>and he fares in haste o'er the jewelled waste</span>
            <span>and the dusk from whence he came</span>
            <span>with his heart afire with bright disire</span>
            <span>and his face in silver flame.</span>
        </p>
        <p>
            <span> The Ship of the Moon from the East comes soon</span>
            <span> from the Haven of the Sun,</span>
            <span> whose white gates gleam in the coming beam</span>
            <span> of the mighty silver one.</span>
            <span> Lo! with bellying clouds as his vessel's shrouds</span>
            <span> he weighs anchor down the dark,</span>
            <span> and on shimmering oars leaves the blazing shores</span>
            <span> in his argent-timbered bark.</span>
        </p>
        <p>
            <span> Then Éarendel fled from that Shipman dread</span>
            <span> beyond the dark earth's pale,</span>
            <span> back under the rim of the Ocean dim,</span>
            <span> and behind the world set sail;</span>
            <span> and he heard the mirth of the folk of earth</span>
            <span> and the falling of their tears,</span>
            <span> as the world dropped back in a cloudy wrack</span>
            <span> on its journey down the years.</span>
        </p>
        <p>
            <span> Then he glimmering passed to the starless vast</span>
            <span> as an isléd lamp at sea,</span>
            <span> and beyond the ken of mortal men</span>
            <span> set his lonely errantry,</span>
            <span> tracking the Sun in his galleon</span>
            <span> through the pathless firmament,</span>
            <span> till his light grew old in abysses cold</span>
            <span> and his eager flame was spent.</span>
        </p>
    </div>
</main>