<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>%%TITLE%%</title>
    <base href="http://localhost/poetry/">
    <link rel="shortcut icon" href="images/aragorn-icon.ico">
    <link rel="stylesheet" href="css/styles.css">
    <script src="js/scripts.js" defer></script>
</head>
<body>
<div class="container">

<header id="header">
    <a href=%%TITLE_LINK%%><h1 id="poemas-title">Poemas</h1></a>
    <nav>
        <a href="poets\tolkien-index.php">JRR Tolkien</a>
        <a href="poets\camoes-index.php">Luís de Camões</a>
        <a href="poets\quintana-index.php">Mário Quintana</a>
        <a href="poets\cabral-index.php">João Cabral de Melo Neto</a>
    </nav>
</header>

%%CENTER%%

<footer>
    <p><a href="index.php" target="_blank">&copy;Vinny Baggins 2022</a></p>
</footer>

</div>
</body>
</html>